<div class="dialog-content">
  <h2>Dados do Funcionário</h2>
  <p>Preencha os dados do funcionário abaixo:</p>

  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput placeholder="Nome" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>E-mail</mat-label>
    <input matInput placeholder="E-mail" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Data de nascimento</mat-label>
    <input matInput placeholder="Data de nascimento" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Senha</mat-label>
    <input matInput placeholder="Senha" />
  </mat-form-field>

  <button mat-raised-button color="primary">Salvar</button>
</div>
