<div class="layout-container">
  <app-navbar class="sidenav"></app-navbar>
  <div class="dashboard-container content">
    <section class="">
      <h2>Solicitações abertas</h2>
      <div class="cards-container">
        <app-card-solicitacao></app-card-solicitacao>
        <app-card-solicitacao></app-card-solicitacao>
        <app-card-solicitacao></app-card-solicitacao>
      </div>
    </section>
    <section class="funcionarios-container">
      <h2>Funcionários</h2>
      <div class="cards-funcionario">
        <app-card-funcionario></app-card-funcionario>
      </div>
    </section>
    <section class="">
      <h2>Equipamentos</h2>
      <app-card-equipamento></app-card-equipamento>
    </section>
  </div>
</div>
