mat-form-field {
  width: 300px;
}

.dialog-container {
  overflow: hidden;
}

.dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  flex: 1;
}

mat-form-field {
  width: 100%;
}
