.title-solicitacao {
  font-size: 1.25rem;
}

.estado-solicitacao {
  padding-inline: .5rem;
  background-color: var(--color-surface);
  border-radius: 4px;
}

.solicitacao-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.solicitacao-info p {
  margin: auto;
}

.acoes {
  display: flex;
  gap: 10px;
  margin-top: auto;
}

.status {
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 4px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
}

.status.aberta {
  color: #a9a9a9;
}

.status.orcada {
  color: #9c6644;
}

.status.rejeitada {
  color: #e26768;
}

.status.aprovada {
  color: #fbb91b;
}

.status.redirecionada {
  color: #8080ff;
}

.status.arrumada {
  color: #138eff;
}

.status.paga {
  color: #fb8b24;
}

.status.finalizada {
  color: #14ae5c;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-confirmacao {
  background: white;
  padding: 20px;
  border-radius: 20px;
  width: 50vh;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.btnsRejeitar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#btnCancelar {
  border-color: var(--color-rejeitada);
  color: var(--color-rejeitada);
  width: 100px;
}

#btnRejeitar {
  background-color: var(--color-finalizada);
  color: white;
  width: 100px;
}

#btnOk {
  background-color: var(--color-finalizada);
  color: white;
  width: 100px;
}
