<div class="tela-cadastro">
  <div class="gradient-bg">
    <svg xmlns="http://www.w3.org/2000/svg">
      <defs>
        <filter id="goo">
          <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  
                    0 1 0 0 0  
                    0 0 1 0 0  
                    0 0 0 18 -8" result="goo" />
          <feBlend in="SourceGraphic" in2="goo" />
        </filter>
      </defs>
    </svg>

    <div class="gradients-container">
      <div class="g1"></div>
      <div class="g2"></div>
      <div class="g3"></div>
      <div class="g4"></div>
      <div class="g5"></div>
      <div class="interactive"></div>
    </div>
  </div>

  <div class="centro-cadastro">
    <div class="cadastro">
      <div id="retorno">
        <a routerLink="/" class="link-retorno">
          <mat-icon class="material-symbols-rounded">arrow_back</mat-icon>
        </a>
      </div>

      <h1>Cadastre-se!</h1>

      <form [formGroup]="cadastroForm" class="cadastro-form">
        <mat-form-field appearance="fill">
          <mat-label>Nome Completo</mat-label>
          <input matInput formControlName="nomeCompleto" required />
          <mat-error *ngIf="cadastroForm.get('nomeCompleto')?.hasError('required')">
            Nome é obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>CPF</mat-label>
          <input matInput formControlName="cpf" maxlength="14" (input)="formatarCPF()" />
          <mat-error *ngIf="cadastroForm.get('cpf')?.hasError('required')">CPF é obrigatório</mat-error>
          <mat-error *ngIf="cadastroForm.get('cpf')?.hasError('pattern')">Formato inválido</mat-error>
          <mat-error *ngIf="cadastroForm.get('cpf')?.hasError('cpfInvalido')">CPF inválido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Telefone</mat-label>
          <input matInput formControlName="telefone" maxlength="15" (input)="formatarTelefone($event)" />
          <mat-error *ngIf="cadastroForm.get('telefone')?.hasError('required')">Telefone é obrigatório</mat-error>
          <mat-error *ngIf="cadastroForm.get('telefone')?.hasError('pattern')">Formato inválido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
          <mat-error *ngIf="cadastroForm.get('email')?.hasError('required')">Email é obrigatório</mat-error>
          <mat-error *ngIf="cadastroForm.get('email')?.hasError('email')">Email inválido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>CEP</mat-label>
          <input matInput formControlName="cep" maxlength="9" (input)="formatarCEP($event)" />
          <mat-error *ngIf="cadastroForm.get('cep')?.hasError('required')">CEP é obrigatório</mat-error>
          <mat-error *ngIf="cepNaoEncontrado">CEP não encontrado</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Estado</mat-label>
          <input matInput formControlName="estado" required/>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Cidade</mat-label>
          <input matInput formControlName="cidade" required/>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Bairro</mat-label>
          <input matInput formControlName="bairro" required/>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Rua</mat-label>
          <input matInput formControlName="rua" required/>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Número</mat-label>
          <input matInput formControlName="numero" />
          <mat-error *ngIf="cadastroForm.get('numero')?.hasError('required')">Número é obrigatório</mat-error>
          <mat-error *ngIf="cadastroForm.get('numero')?.hasError('pattern')">Apenas números</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Complemento</mat-label>
          <input matInput formControlName="complemento" />
        </mat-form-field>
      </form>

      <div class="button-container">
        <button mat-flat-button color="primary" (click)="onSubmit()"
          [disabled]="cadastroForm.invalid || cepNaoEncontrado || cadastroForm.get('cpf')?.hasError('cpfInvalido')">
          Cadastrar-se
        </button>

      </div>
    </div>

    <div class="logo-container">
      <img src="bipbip-logo.png" class="logo" (click)="playSound()" />
      <h1>BipBip Consertos</h1>
    </div>
  </div>
</div>

<div class="loading-overlay" *ngIf="carregando">
  <div class="logo-spinner">
    <img src="bipbip-logo.png" alt="Carregando..." />
  </div>
</div>