<div class="categoria" [style.background]="backgroundColor" style="max-width: 274px; height: 20px; border-radius: 0.5rem; padding-top: 5px;">
  <mat-card appearance="outlined">
    <mat-card-header>
      <div class="header-title">
        OS-123456
      </div>

      <div class="icons">
        <div class="icons-items">
          <p>27/03/2025</p>
          <mat-icon class="mat-18" fontIcon="calendar_month"></mat-icon>
        </div>
        <div class="icons-items">
          <p>15:30</p>
          <mat-icon class="mat-18" fontIcon="schedule"></mat-icon>
        </div>
      </div>
    </mat-card-header>

    <mat-card-content>
      <div class="card-content-div">
        <p class="poppins-light card-content-title">Cliente</p>
        <p class="card-content-p">Fulaninho da Silva</p>
      </div>
      <div class="card-content-div">
        <p class="poppins-light card-content-title">Descrição do equipamento</p>
        <p class="card-content-p">Lorem ipsum dolor sit amet con.</p>
      </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <a
        *ngIf="backgroundColor === 'var(--color-aberto)'"
        (click)="backgroundColor = 'var(--color-orcada)'"
        class="action-button"
      >
        Realizar orçamento
      </a>
    </mat-card-actions>
  </mat-card>
</div>
