# Node.js
node_modules/
.npm/
package-lock.json
yarn.lock

# Angular
.angular/
dist/

# Java / Maven
*.class
*.war
*.jar
.mvn/
!**/src/main/**
!**/src/test/**
target/

# IntelliJ IDEA / Eclipse / VS Code
.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/

# PostgreSQL
db-data/

# Logs e arquivos temporários
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# Maven
.m2/

# Ambiente
.env

# Backend
backend/target/
backend/.classpath
backend/.settings/
backend/.project

# Frontend
frontend/node_modules/
frontend/dist/
