.layout-container {
    display: flex;
    height: 100%;
  }

.orcamento-container {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 100px;
    background: rgb(149, 197, 255);
    background: linear-gradient(90deg,
            rgba(149, 197, 255, 0.699) 0%,
            rgba(213, 213, 255, 0.651) 49%,
            rgba(217, 217, 217, 0.774) 100%);
}

.orcamento-header {
    text-align: left;
    margin-bottom: 20px;
}

.os-label {
    background-color: #e0e0e0;
    padding: 5px 15px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 20px;
}

.orcamento-content {
    display: flex;
    gap: 20px;
}

.orcamento-left {
    width: 25%;
    ;
}

.orcamento-right {
    display: flex;
    gap: 75px;
    width: 60%;
}

.orcamento-cliente,
.orcamento-endereco {
    flex: 1;
}

.orcamento-divider {
    width: 1px;
    background-color: #aaa;
}

.orcamento-input {
    margin-top: 20px;
}

.orcamento-input label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.orcamento-input input {
    width: 40%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.orcamento-button button {
    background-color: #60a0f0;
    color: black;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
}

.orcamento-button button:hover {
    background-color: #4585d5;
}