.orcamento-container {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10%;
    /* background: rgb(149, 197, 255);
    background: linear-gradient(90deg,
            rgba(149, 197, 255, 0.699) 0%,
            rgba(213, 213, 255, 0.651) 49%,
            rgba(217, 217, 217, 0.774) 100%); */
}

.orcamento-header {
    text-align: left;
    margin-bottom: 20px;
}

.os-label {
    background-color: #e0e0e0;
    padding: 5px 15px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 20px;
}

.orcamento-content {
    display: flex;
    gap: 20px;
}

.orcamento-input {
    margin-top: 20px;
}

.orcamento-input label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#valor {
    width: 80%;
    margin-top: 6px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.orcamento-left {
    width: 25%;
}

.botoes {
    margin-top: 30px;
    left: 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#cancelar-button {
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border-color: var(--color-rejeitada);
    color: var(--color-rejeitada);
}

#orcamento-button {
    background-color: #60a0f0;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
}

#orcamento-button:hover {
    background-color: #4585d5;
}

.orcamento-right {
    display: flex;
    gap: 75px;
    width: 60%;
}

.orcamento-content p {
    margin-top: 10px;
}

.orcamento-cliente,
.orcamento-endereco {
    flex: 1;
}

.orcamento-divider {
    width: 1px;
    background-color: #aaa;
}

