<div class="layout-container">
    <app-navbar class="sidenav"></app-navbar>
    <div class="orcamento-container">
        <div class="orcamento-header">
            <span class="os-label">{{ solicitacao.idFormatado || 'OS-000000' }}</span>
        </div>

        <div class="orcamento-content">
            <div class="orcamento-left">
                <p><strong>Descrição do equipamento</strong><br>{{ solicitacao?.equipamento }}</p>
                <p><strong>Descrição do problema</strong><br>{{ solicitacao?.problema }}</p>

                <div class="orcamento-input">
                    <label>Defina o orçamento:</label>
                    <input id="valor" matInput type="text" placeholder="Valor em R$" [(ngModel)]="valorOrcamento" (input)="formatarMoeda()" />
                </div>
                <div class="botoes">
                    <div class="cancelar-button">
                        <button id="cancelar-button" mat-stroked-button routerLink="/home">Cancelar</button>
                    </div>
                    
                    <div class="orcamento-button">
                        <button
                            id="orcamento-button" 
                            mat-button
                            color="primary"
                            (click)="realizarAcao('ORCADA')"
                        >
                            Enviar
                        </button>
                    </div>
                </div>
            </div>

            <div class="orcamento-divider"></div>

            <div class="orcamento-right">
                <div class="orcamento-contato">
                    <p><strong>Cliente</strong><br>{{ solicitacao?.cliente.nome }}</p>
                    <p><strong>CPF</strong><br>{{ solicitacao?.cliente.cpf }}</p>
                    <p><strong>E-mail</strong><br>{{ solicitacao?.cliente.email }}</p>
                    <p><strong>Telefone</strong><br>{{ solicitacao?.cliente.telefone }}</p>
                </div>
                <div class="orcamento-endereco">
                    <p><strong>CEP</strong><br>{{ solicitacao?.cliente.endereco.cep }}</p>
                    <p><strong>Logradouro</strong><br>{{ solicitacao?.cliente.endereco.logradouro }}</p>
                    <p><strong>Complemento</strong><br>{{ solicitacao?.cliente.endereco.complemento }}</p>
                    <p><strong>Cidade</strong><br>{{ solicitacao?.cliente.endereco.cidade }}</p>
                    <p><strong>Estado</strong><br>{{ solicitacao?.cliente.endereco.estado }}</p>
                </div>
            </div>
        </div>
    </div>
</div>