<div class="layout-container">
  <app-navbar class="sidenav"></app-navbar>

  <main class="content">
    <header class="header">
      <h1 class="title">Realizar orçamento</h1>
      <p class="subtitle">
        Informe ao cliente qual será o orçamento relacionado à solicitação.
      </p>
    </header>

    <div class="orcamento-container" *ngIf="isLoaded && solicitacao">
      <div class="orcamento-header">
        <div class="OS">
          <h1 class="os-id">{{ solicitacao.idFormatado || "OS-000000" }}</h1>
        </div>
        <div class="x">
          <a routerLink="/home">X</a>
        </div>
      </div>

      <div class="orcamento-content">
        <div class="orcamento-left">
          <p>
            <strong>Descrição do equipamento</strong><br />
            {{ solicitacao.descricaoEquipamento }}
          </p>
          <p>
            <strong>Descrição do problema</strong><br />
            {{ solicitacao.descricaoDefeito }}
          </p>

          <div class="orcamento-input">
            <p><strong>Defina o orçamento:</strong></p>
            <input
              id="valor"
              matInput
              type="text"
              placeholder="Valor em R$"
              [(ngModel)]="valorOrcamento"
              (input)="formatarMoeda()"
              (keydown)="permitirSomenteNumeros($event)"
            />
          </div>

          <div class="botoes">
            <button id="cancelar-button" mat-stroked-button routerLink="/home">
              Cancelar
            </button>
            <button
              id="orcamento-button"
              mat-flat-button
              (click)="enviarOrcamento()"
            >
              Enviar
            </button>
          </div>
        </div>

        <div class="orcamento-divider"></div>

        <div class="orcamento-right">
          <div class="orcamento-contato">
            <p><strong>Cliente</strong><br />{{ solicitacao.cliente.nome }}</p>
            <p><strong>CPF</strong><br />{{ solicitacao.cliente.cpf | cpf }}</p>
            <p><strong>E-mail</strong><br />{{ solicitacao.cliente.email }}</p>
            <p>
              <strong>Telefone</strong><br />{{ solicitacao.cliente.telefone }}
            </p>
          </div>
          <div class="orcamento-endereco">
            <p><strong>CEP</strong><br />{{ solicitacao.cliente.cep | cep }}</p>
            <p>
              <strong>Logradouro</strong><br />{{
                solicitacao.cliente.logradouro
              }}
            </p>
            <p>
              <strong>Complemento</strong><br />{{
                solicitacao.cliente.complemento
              }}
            </p>
            <p>
              <strong>Cidade</strong><br />{{ solicitacao.cliente.localidade }}
            </p>
            <p><strong>Estado</strong><br />{{ solicitacao.cliente.uf }}</p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!isLoaded" class="loading-indicator">
      <mat-progress-spinner
        mode="indeterminate"
        diameter="50"
      ></mat-progress-spinner>
      <p>Carregando detalhes da solicitação...</p>
    </div>
    <div *ngIf="isLoaded && !solicitacao" class="error-indicator">
      <p>Não foi possível carregar os dados da solicitação.</p>
    </div>
  </main>
</div>
