  .layout-container {
    margin: auto;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .content {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  
  .content h2 {
    text-align: left;
    margin-bottom: 20px;
  }

  .content a {
    align-self: flex-end;
  }

  .solicitacoes-container {
    width: 100%;
    height: auto;
  }

  .solicitacoes-container h3 {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  .solicitacoes-container mat-list {
    width: 100%;
  }
  
  .solicitacoes-container mat-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    margin-bottom: 0,5rem;
    border-bottom: 1px solid #ddd;
    transition: background 0.3s ease;
    min-height: 150px;
  }
  
  .solicitacoes-container mat-list-item:hover {
    background: #a9a9a9;
  }