<div class="cliente-home-container">
    <h2>Minhas Solicitações</h2>
    <mat-list *ngIf="solicitacoes.length > 0; else noSolicitations">
      <mat-list-item *ngFor="let solicitacao of solicitacoes">
        <div class="solicitacao-info">
          <p><strong>Data/Hora:</strong> {{ solicitacao.dataHora }}</p>
          <p><strong>Equipamento:</strong> {{ solicitacao.equipamento }}</p>
          <p><strong>Estado:</strong> <span class="status {{ solicitacao.estado | lowercase }}">{{ solicitacao.estado }}</span></p>
        </div>
        
        <div class="acoes">
          <button mat-button color="primary" (click)="visualizarSolicitacao(solicitacao.id)">Visualizar</button>
          <button *ngIf="solicitacao.estado === 'ORÇADA'" mat-button color="accent" (click)="mostrarOrcamento(solicitacao.id)">Aprovar/Rejeitar</button>
          <button *ngIf="solicitacao.estado === 'REJEITADA'" mat-button color="warn" (click)="resgatarServico(solicitacao.id)">Resgatar Serviço</button>
          <button *ngIf="solicitacao.estado === 'ARRUMADA'" mat-button color="primary" (click)="pagarServico(solicitacao.id)">Pagar Serviço</button>
        </div>
      </mat-list-item>
    </mat-list>
  
    <ng-template #noSolicitations>
      <p>Nenhuma solicitação encontrada.</p>
    </ng-template>
  </div>
  