<div class="layout-container" *ngIf="solicitacao">
  <div class="visualizar-container">
    <div class="visualizar-header">
      <div class="OS">
        <h1 class="os-id">{{ solicitacao.idFormatado || "OS-000000" }}</h1>
      </div>

      <div class="x">
        <a routerLink="/home-cliente">X</a>
      </div>
    </div>

    <div class="visualizar-content">
      <div class="visualizar-left">
        <p>
          <strong>Descrição do equipamento</strong><br />{{
          solicitacao.descricaoEquipamento || "N/A"
          }}
        </p>
        <p>
          <strong>Categoria do equipamento</strong><br />{{
          solicitacao.categoriaEquipamento || "N/A"
          }}
        </p>
        <p>
          <strong>Descrição do problema</strong><br />{{
          solicitacao.descricaoDefeito || "N/A"
          }}
        </p>
        <p>
          <strong>Data/Hora</strong><br />{{
          (solicitacao.dataHora | date : "dd/MM/yyyy HH:mm") || "N/A"
          }}
        </p>
      </div>

      <div class="visualizar-divider"></div>
      <div class="visualizar-right">
        <div class="visualizar-contato">
          <p>
            <strong>Cliente</strong><br />{{
            solicitacao.cliente.nome || "N/A"
            }}
          </p>
          <p>
            <strong>CPF</strong><br />{{ (solicitacao.cliente.cpf | cpf) || "N/A" }}
          </p>
          <p>
            <strong>E-mail</strong><br />{{
            solicitacao.cliente.email || "N/A"
            }}
          </p>
          <p>
            <strong>Telefone</strong><br />{{
            solicitacao.cliente.telefone || "N/A"
            }}
          </p>
        </div>

        <div class="visualizar-endereco">
          <p>
            <strong>CEP</strong><br />{{ (solicitacao.cliente.cep | cep) || "N/A" }}
          </p>
          <p>
            <strong>Logradouro</strong><br />{{
            solicitacao.cliente.logradouro || "N/A"
            }}
          </p>
          <p>
            <strong>Complemento</strong><br />{{
            solicitacao.cliente.complemento || "N/A"
            }}
          </p>
          <p>
            <strong>Cidade</strong><br />{{
            solicitacao.cliente.localidade || "N/A"
            }}
          </p>
          <p>
            <strong>Estado</strong><br />{{ solicitacao.cliente.uf || "N/A" }}
          </p>
        </div>
      </div>
    </div>

    <div class="details">
      <button *ngIf="solicitacao.estado === '4'" mat-button color="warn" (click)="abrirModalMotivoRejeicao()">
        Motivo do rejeite
      </button>

      <button *ngIf="estado >= 6" mat-button (click)="abrirModalOrientacoes()">
        Ver orientações
      </button>
    </div>

    <div class="visualizar-bottom">
      <div class="passos">
        <div class="stepper" [class.tres-etapas]="etapas.length === 3"
          [class.rejeitado]="solicitacao.estado === 'REJEITADA'">
          <div *ngFor="let etapa of etapas; let i = index" class="step" [class.rejeitado]="
                solicitacao.estado === 'REJEITADA' && etapa.estado === 'completo'
              ">
            <div class="step-connector" *ngIf="i !== 0" [class.completo]="
                  etapa.estado === 'completo' || etapa.estado === 'ativo'
                " [class.rejeitado]="solicitacao.estado === 'REJEITADA'"></div>

            <div class="step-circle" [class.completo]="etapa.estado === 'completo'"
              [class.ativo]="etapa.estado === 'ativo'" [class.rejeitado]="
                  etapa.nome === 'REJEITADA' ||
                  (solicitacao.estado === 'REJEITADA' &&
                    etapa.estado === 'completo')
                ">
              <span *ngIf="etapa.estado === 'completo' || etapa.estado === 'ativo'">✓</span>
            </div>

            <div class="step-label">{{ etapa.nome }}</div>
            <div class="step-funcionario" *ngIf="etapa.funcionarioNome">
              Realizado por {{ etapa.funcionarioNome }}
            </div>
            <div class="step-date" *ngIf="etapa.dataHora">
              <p>{{ etapa.dataHora | date : "dd/MM/yyyy" }}</p>
              <p>{{ etapa.dataHora | date : "HH:mm" }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>