<div class="layout-container">
  <app-navbar class="sidenav"></app-navbar>

  <main class="content">
    <section class="container">
      <header class="header">
        <h1 class="title">Equipamentos</h1>
        <p class="subtitle">
          Gerencie os equipamentos relacionados às solicitações de manutenção
        </p>
        <button
          mat-raised-button
          (click)="abrirDialog()"
          color="primary"
          aria-label="Adicionar categoria de equipamento"
          class="btn-add-equipamento"
          matTooltip="Adicionar categoria de equipamento"
        >
          <mat-icon>devices</mat-icon>
          Adicionar categoria de equipamento
        </button>
      </header>

      <div class="equipamentos-content">
        <div class="info-text">
          <mat-icon class="info-icon" aria-hidden="true">info</mat-icon>
          <p>Visualize todos os equipamentos.</p>
        </div>

        <ng-container *ngIf="equipamentos.length > 0; else vazio">
          <app-card-equipamento
            *ngFor="let equipamento of equipamentos"
            [equipamento]="equipamento"
            (editar)="abrirDialog()"
            (excluir)="abrirDialog()"
          ></app-card-equipamento>
        </ng-container>

        <ng-template #vazio>
          <div class="sem-equipamentos">
            <div>
              <mat-icon class="sem-equipamentos-icon" aria-hidden="true"
                >group_off</mat-icon
              >
              <h3>Nenhum equipamento cadastrado</h3>
              <p>Comece adicionando seu primeiro equipamento</p>
            </div>

            <button mat-stroked-button (click)="abrirDialog()">
              Adicionar Equipamento
            </button>
          </div>
        </ng-template>
      </div>
    </section>
  </main>
</div>
