<nav>
  <h3>BipBip</h3>
  <ul>
    <li>
      <mat-icon class="mat-18">space_dashboard</mat-icon>
      <a href="/home">Dashboard</a>
    </li>
    <li>
      <mat-icon class="mat-18">add_box</mat-icon>
      <a href="/home">Solicitações</a>
    </li>
    <li>
      <mat-icon class="mat-18">group</mat-icon>
      <a href="/funcionarios">Funcionários</a>
    </li>
    <li>
      <mat-icon class="mat-18">devices</mat-icon>
      <a href="/equipamentos">Equipamentos</a>
    </li>
    <li>
      <mat-icon class="mat-18">description</mat-icon>
      <a href="/relatorios">Relatórios</a>
    </li>
  </ul>
</nav>
