<div class="layout-container">
    <div class="solicitacao">
        <div class="content">
            <h1>Solicitação de Manutenção</h1>
            <div class="formulario">
                <form>
                    <label>Descrição do Equipamento</label>

                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Descrição do Equipamento" type="text" [(ngModel)]="equipamento" name="equipamento">
                    </mat-form-field>

                    <label>Escolha a categoria do Equipamento</label>
                    <mat-form-field appearance="outline">
                        <mat-select placeholder="Categoria do Equipamento" [(ngModel)]="categoria" name="categoria">
                            <mat-option value="computador">Computador</mat-option>
                            <mat-option value="periferico">Periférico</mat-option>
                            <mat-option value="monitor">Monitor</mat-option>
                            <mat-option value="rede">Rede</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <label>Descrição do Defeito</label>
                    <mat-form-field appearance="outline">
                        <textarea matInput rows="8" placeholder="Descrição do Defeito" style="resize:none;" [(ngModel)]="defeito" name="defeito"></textarea>
                    </mat-form-field>
                    
                    <div class="botoes">
                        <button
                            id="cancelar"
                            mat-stroked-button
                            routerLink="/home-cliente"
                        >
                            Cancelar
                        </button>
                    
                        <button
                            id="abrir"
                            mat-button
                            (click)="abrirSolicitacao()"
                        >
                            Abrir Solicitação
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>