.solicitacao-info {
    flex-grow: 1;
  }
  
  .solicitacao-info p {
    margin: auto;
  }
  
  .acoes {
    display: flex;
    gap: 10px;
    margin-top: auto;
  }
  
  .status {
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 4px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
  }

  .status.aberta { color: #a9a9a9; }
  .status.orcada { color: #9C6644; }
  .status.rejeitada { color: #E26768; }
  .status.aprovada { color: #FBB91B; }
  .status.redirecionada { color: #8080FF; }
  .status.arrumada { color: #138EFF; }
  .status.paga { color: #FB8B24; }
  .status.finalizada { color: #14AE5C; }