<div class="tela-login">
    <div class="info">

    </div>

    <div class="login">
        <h1>
            Bem vindo de volta!
        </h1>

        <form class="login-form">
            <mat-form-field appearance="fill">
                <label>Digite seu E-mail</label>
                <input matInput type="text">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <label>Digite a sua senha</label>
                <input matInput type="password">
            </mat-form-field>

            <button mat-flat-button routerLink="/home">Conectar-se</button>
        </form>

        <div class="to-cadastro">
            <p>Não tem uma conta?</p>
            <a routerLink="/cadastro">Cadastre-se!</a>
        </div>
    </div>
</div>