<div class="tela-login">
    <div class="gradient-bg">
        <svg xmlns="http://www.w3.org/2000/svg">
            <defs>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"result="blur" />
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -8" result="goo" />
                    <feBlend in="SourceGraphic" in2="goo" />
                </filter>
            </defs>
        </svg>

        <div class="gradients-container">
            <div class="g1"></div>
            <div class="g2"></div>
            <div class="g3"></div>
            <div class="g4"></div>
            <div class="g5"></div>
            <div class="interactive"></div>
        </div>
    </div>

    <div class="logo-container" >
        <img src="bipbip-logo.png" class="logo" (click)="playSound()">
        <h1>BipBip Consertos</h1>
    </div>

    <div class="login">
        <h1>
            Bem vindo de volta!
        </h1>

        <form class="login-form">
            <mat-form-field appearance="fill">
                <label>Digite seu E-mail</label>
                <input matInput type="text">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <label>Digite a sua senha</label>
                <input matInput type="password">
            </mat-form-field>

            <button mat-flat-button routerLink="/home">Conectar-se</button>
        </form>

        <div class="to-cadastro">
            <p>Não tem uma conta?</p>
            <a routerLink="/cadastro">Cadastre-se!</a>
        </div>
    </div>
</div>