.tela-login {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(130deg, #e0e0e0, #a4b1ff);
    justify-content: flex-end;
}

.login {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 48%;
    padding: 20px;
    overflow: hidden;
}

.login h1 {
    align-self: center;
    margin-top: 10%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.login-form {
    height: 50%;
    width: 80%;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    padding-right: 10px;
}

.login-form label {
    font-family: 'Open Sans', sans-serif;
    align-self: flex-start;
}

.login-form mat-form-field {
    width: 100%;
}

.login-form input {
    width: 100%;
}

.login-form button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    align-self: center;
    margin-top: 50px;
    height: 60px;
    width: 100%;
    border-radius: 8px;
    background-color: #2F48E0;
}