<div class="layout-container">
  <app-navbar class="sidenav"></app-navbar>

  <main class="content">
    <section class="container">
      <header>
        <h1 class="title">Solicitações</h1>
        <p class="subtitle">Gerencie as solicitações de requisição</p>
      </header>

      <div class="solicitacoes-content">
        <div class="info-text">
          <mat-icon class="info-icon" aria-hidden="true">info</mat-icon>
          <p>Visualize todas as solicitações.</p>
        </div>

        <div class="cards-container">
          <app-card-solicitacao
            *ngFor="let solicitacao of solicitacoes"
            [solicitacao]="solicitacao">
          </app-card-solicitacao>

        </div>
      </div>

    </section>
  </main>
</div>
