<div class="card-funcionario">
  <div class="card-content">
    <mat-icon class="mat-18">person</mat-icon>
    <div class="card-funcionario-info">
      <h3>{{ funcionario.nome }}</h3>
      <p>{{ funcionario.email }}</p>
    </div>
  </div>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let item of getMenuItems()" (click)="item.action()" [attr.color]="item.color">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span>{{ item.label }}</span>
    </button>
  </mat-menu>
</div>