.card-funcionario {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-surface);
  align-items: center;
  border-radius: 0.5rem;
  margin-block-end: 1rem;
  padding-inline: 1rem;
}

.card-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.card-funcionario-info {
  margin-inline: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

button {
  border: none;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
  color: var(--color-primary);
  transition: 0.3s;
}

mat-menu button {
    background-color: var(--color-surface);
}
