@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@100..900&display=swap");

/* Variáveis Globais */
:root {
  /* 🔹 Cores Principais */
  --color-primary: #2f48e0;
  --color-secondary: #732fe0;

  /* 🔹 Superfícies */
  --color-surface: #ffffff;
  --color-surface-alt: #ebeaea;
  --color-text: #333;
  --colors-gradient:  #eeeeee,  #C4D7FF;

  /* 🔹 Estados e Elementos */
  --color-status-open: #d9d9d9;
  --color-icon: #a6a6a6;

    /* 🔹 Cores  */


}

/* 🔹 Reset & Estilização Básica */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Inter", sans-serif;
  color: var(--color-text);
  background-color: var(--color-surface);
  overflow-x: hidden;
}

/* 🔹 Tipografia */
h1, h2, h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

/* 🔹 Links e listas */
a {
  text-decoration: none;
  color: var(--color-primary);
}

li {
  list-style: none;
}

/* 🔹 Páginas - elementos gerais */
.layout-container {
  display: flex;
  height: 100%;
  background: linear-gradient(90deg, var(--colors-gradient));
}

.content {
  flex: 1;
  padding-inline: 10%;
}

.dialog-content {
  padding: 1rem;
}