@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@100..900&display=swap");

/* Variáveis Globais */
:root {
  --color-primary: #2f48e0; /* Altera a cor primária */
  --color-secondary: #732fe0; /* Altera a cor secundária */
  --color-surface: #ffffff; /* Altera a cor de fundo dos componentes */
  --color-surface-rgb: 255, 255, 255;
  --color-surface-alt: #ebeaea; /* Altera a cor de fundo dos componentes */
  --color-text: #333; /* Cor do texto nos componentes */

  --color-aberto: #d9d9d9; /* Cor da categoria "ABERTO" */
  --color-orcada: #9c6644; /* Cor da categoria "ORÇADA" */
  --color-rejeitada: #e26768; /* Cor da categoria "REJEITADA" */
  --color-aprovada: #fbb91b; /* Cor da categoria "APROVADA" */
  --color-redirecionada: #8080ff; /* Cor da categoria "REDIRECIONADA" */
  --color-arrumada: #138eff; /* Cor da categoria "ARRUMADA" */
  --color-paga: #fb8b24; /* Cor da categoria "PAGA" */
  --color-finalizada: #14ae5c; /* Cor da categoria "FINALIZADA" */
  --color-icons: #a6a6a6;
  --colors-gradient: #eeeeee, #c4d7ff;
}

/* Reset e estilização básica */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
  color: var(--color-text);
  background-color: var(--color-surface);
  overflow-x: hidden;
}

/* Tipografia */
h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

/* Links e listas */
a {
  text-decoration: none;
  color: var(--color-primary);
}

li {
  list-style: none;
}

/* Páginas - elementos gerais */
.layout-container {
  display: flex;
  height: 100%;
  background: linear-gradient(90deg, var(--colors-gradient));
}

.content {
  flex: 1;
  padding-inline: 10%;
}

.dialog-content {
  padding: 1rem;
}

.dashboard-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.funcionarios-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.cards-funcionario {
  display: flex;
  flex-direction: column;
}
