@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* VARIAVEIS */
:root {
  --md-sys-color-primary: #2f48e0; /* Altera a cor primária */
  --md-sys-color-secondary: #732fe0; /* Altera a cor secundária */
  --md-sys-color-surface: #ffffff; /* Altera a cor de fundo dos componentes */
  --md-sys-color-surface-1: #ebeaea; /* Altera a cor de fundo dos componentes */
  --md-sys-color-on-surface: #333; /* Cor do texto nos componentes */
  --color-aberto: #d9d9d9; /* Cor da categoria "ABERTO" */
  --color-icons: #A6A6A6;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family:  Roboto, "Helvetica Neue", sans-serif,
  color: var(--md-sys-color-on-surface);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--md-sys-color-on-surface);
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
