<div *ngFor="let equipamento of equipamentos" class="card-equipamento">
  <div class="card-equipamento-info">
    <p>{{ equipamento.categoria }}</p>
  </div>

  <button mat-icon-button [matMenuTriggerFor]="menu" (click)="equipamentoSelecionado = equipamento">
    <mat-icon>more_vert</mat-icon>
  </button>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="abrirDialog()">
    <mat-icon>edit</mat-icon> Editar
  </button>
  <button mat-menu-item (click)="excluir(equipamentoSelecionado)">
    <mat-icon>delete</mat-icon> Excluir
  </button>
</mat-menu>
