mat-card {
  background-color: var(--color-surface);
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-card-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.header-title {
  padding-right: 1rem;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.icons {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

.icons-items {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.25rem;
}

mat-icon {
  color: var(--color-icons);
  display: flex;
  align-items: center;
}

.card-content-div {
  padding: 10px 0;
}

.card-content-title {
  font-size: 0.9rem;
}

mat-card-content {
  padding: 0;
}

.card-content-p {
  margin: 0;
  font-size: 1rem;
}

mat-card-actions mat-icon {
  color: var(--color-primary) !important;
}

.action-button {
  font-weight: 600;
  background-color: var(--color-surface);
  border: none;
  cursor: pointer;
  color: var(---color-primary) !important;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

a {
  text-decoration: none;
  color: var(--md-sys-color-primary);
  z-index: 1000;
}

a:hover {
  color: red;
}
