<div class="layout-container">
  <app-navbar class="sidenav"></app-navbar>
  <div class="content">
    <section class="funcionarios-container">
      <h2>Funcionários</h2>
      <div>
        <button mat-raised-button (click)="abrirDialog()" color="primary">
          <mat-icon>person_add</mat-icon>
          Adicionar funcionário
        </button>
      </div>

      <div>
        <app-card-funcionario></app-card-funcionario>
        <app-card-funcionario></app-card-funcionario>
        <app-card-funcionario></app-card-funcionario>
      </div>
    </section>
  </div>
</div>
