.relatorio-tabela {
  margin-top: 24px;
}

table {
  width: 100%;
}

.align-right {
  text-align: right;
  justify-content: flex-end;
}

.align-center {
  text-align: center;
}

/* Deixa a linha do total com uma aparência mais destacada */
.total-row {
  font-weight: bold;
}

.filtros {
  display: flex;
  flex-direction: column;
}

.date-filter-container {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}

.grupo-dia {
  padding: 1rem;
  background-color: rgba(var(--color-surface-rgb), 0.5);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.relatorio-item {
  background-color: rgba(var(--color-surface-rgb), 0.5);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.75rem;
}

.relatorio-content {
  min-height: 500px;
  background-color: rgba(var(--color-surface-rgb), 0.5);
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}
