.filtro {
  margin-bottom: 20px;
}

.date-filter-container {
  display: flex;
  flex-direction: column;
}

.date-filter {
  width: 100%;
}

.relatorio-lista {
  margin-top: 20px;
}

.relatorio-item {
  background-color: #f3f3f3;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.relatorio-buttons {
  margin-top: 20px;
}
