<div class="tela-cadastro">
    <div class="centro-cadastro">
        <div class="cadastro">
            <h1>
                Cadastro
            </h1>

            <form class="cadastro-form">
                <label>Digite seu CPF</label>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="___.___.___-__" type="text">
                </mat-form-field>

                <label>Nome completo</label>
                <mat-form-field appearance="fill">
                    <input matInput type="text">
                </mat-form-field>

                <label>E-mail</label>
                <mat-form-field appearance="fill">
                    <input matInput type="email">
                </mat-form-field>

                <label>Insira seu CEP</label>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="_____-___" type="text">
                </mat-form-field>

                <label>Rua</label>
                <mat-form-field appearance="fill">
                    <input matInput type="text">
                </mat-form-field>

                <label>Número</label>
                <mat-form-field appearance="fill">
                    <input matInput type="text">
                </mat-form-field>

                <label>Bairro</label>
                <mat-form-field appearance="fill">
                    <input matInput type="text">
                </mat-form-field>

                <label>Cidade</label>
                <mat-form-field appearance="fill">
                    <input matInput type="text">
                </mat-form-field>

                <label>Estado</label>
                <mat-form-field appearance="fill">
                    <input matInput type="text">
                </mat-form-field>
            </form>

            <button mat-flat-button routerLink="/">Cadastrar-se</button>
        </div>

        <div class="info">

        </div>
    </div>
</div>