.tela-cadastro {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background-image: linear-gradient(130deg, #e0e0e0, #a4b1ff);
}

.centro-cadastro {
    background-color: #7384f1;
    display: flex;
    flex-direction: row;
    height: 75vh;
    width: 140vh;
    max-width: 90%;
    border-radius: 30px;
    box-shadow: 0px 0px 22px #ccc;
}

.cadastro {
    background-color: white;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: flex-start;
    width: 50%;
    padding: 20px;
    box-shadow: 6px 6px 12px rgb(172, 172, 172);
    overflow: hidden;
    margin-left: auto;
}

.cadastro h1 {
    align-self: center;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.cadastro button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    align-self: center;
    margin-top: 20px;
    height: 100px;
    width: 100%;
    border-radius: 4px;
    background-color: #2F48E0;
}

.cadastro-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 10px;
}

.cadastro-form label {
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.cadastro-form::-webkit-scrollbar {
    width: 8px;
}

.cadastro-form::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.cadastro-form::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.cadastro-form::-webkit-scrollbar-thumb:hover {
    background: #555;
}